body {
    color: white;
    background-image: url("../images/fondo2.jpg");
}

main{
    display:flex;
    text-align: center;
}
.sidebar{
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.452);
    align-items: center;
    justify-content: space-evenly;
}
h1{
    text-align: center;
}
 .botonEstilo{
    border: none;
    width: 150px;
    font-family: "montserrat",sans-serif;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
  } 
  .botonEstilo:hover{
    background-position: right;
  }
.btnColor1{
    background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
}  
.btnColor2{
    background-image: linear-gradient(to left,#3e5251,#23262c,#3e5251);
} 
.btnColor3{
    background-image: linear-gradient(to left,#f34040,#c00e08,#f34040);
} 
.btnColor4{
    background-image: linear-gradient(to left,#C4E538,#009432,#C4E538);
} 
.content-select{
	max-width: 250px;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #B1E8CD;
}
 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}