body{
    margin: 0%;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #837186;
}
/* Nav*/
header{
        display:flex;
        flex-direction: row;
}
.nav {
    background-color: #B254BB;
    color:rgb(0, 0, 0);
    text-decoration:none;
    display:flex;
    align-items:center;
    padding-bottom: 1px;
    justify-content: space-between;
    width:450px;
}
.navbar{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    background-color: #B254BB;
    width: 100%;
}
.logo{ 
    padding-left: 20px;
    width: 62px ;
    height: 60px;
}
.buttonMenu:hover {
    color: #151414;
}
.busqueda{
    position:relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.icon{
    position: absolute;
    margin-left: 10px;
    z-index: 1;
    color: #4f5b66;
  }
  /* Publicacion */
  .meGustas{
    
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .figurePublicacion{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 3px;
  }
  .usuario, .hora{
      margin: 0px;
  }
  .usuario{
    font-weight: bold;
    font-size:21;
  }
  .hora{
    font-size:18;
  }
  .textoPublicacion{
    align-self: flex-start;
  }
  .inputPublicacion{
      width: 450px;
  }
  .imgPublicacion{
      width: 350px;
      height: auto;
  }
.imgPerfilPublicacion{
    width:36px;
    height:36px;
    padding-right: 10px
}
.contenido{
    position:relative;
    margin: 0px 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.publicar{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 2% 0% 2%;
    padding-top: 10px;
}
.publicacion{
    background-color: #b398b6;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
.itemPublicacion{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}
input{
    height:35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: #f1e6f3;
    border-style: solid;
}
.sinDecoracion{
    padding-bottom: 1px;
}
.textoInput{
    text-align: center;
}
.buttonMenu{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

/* Galeria de imagenes */


/* Animacion header */
button, a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
    button:after,a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: rgb(3, 3, 3);
    transition: left .5s;
    }
    button:hover:after,a:hover:after {
    left: 0;
    }
.inPage{
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
} 
.inPage:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 4px;
    background: rgb(3, 3, 3);
    transition: left .5s;
    }
    .inPage:hover:after{
    left: 0;
    }
/* Fin Animacion header */

/* MAIN */
    main{
        display: flex;
        flex-direction: row;
        border: 1px black;
        justify-content:space-between;
    }

    .asidePerfil{
        display:flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 6%;
    }
    .avatar {
        /* cambia estos dos valores para definir el tamaño de tu círculo */
        height: 55px;
        width: 55px;
        /* los siguientes valores son independientes del tamaño del círculo */
        background-repeat: no-repeat;
        border-radius: 50%;
        margin: 4px;
    }
    .agregar{
        height: 24px;
        width: 24px;
        position: absolute;
        right:3px;
        cursor: pointer;
    }
    figure{
        margin: 0%;
    }
    .sugereciasAmigos{
        display:flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        background-color: rgba(108, 144, 197, 0.775);
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        margin: 4px;
        padding-right:30px;
    }
    .h3Margen{
        padding-left: 2%;
    }
    .sugerenciasAmigoAgregado{
        background-color: rgba(124, 184, 132, 0.775);
        transition:0.5s;
    }

    article{
        background-color: rgba(255, 255, 255, 0);
    }
    aside, article{
        margin: 15px;
        padding-left: 1%;
        padding-right: 1%;
        display:flex;
        flex-direction:column;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    aside{
    background-color: #b398b6;
    }
    section{
        margin:5px;
    }


    /************************************ CHAT CHAT CHAT ****************************************/
/********** Side Izquierdo ****************/

.chatPersona{
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 9px;
    padding-right:30px;
    cursor:pointer;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    margin: 4px;
    padding-right:30px;
}
.chatPersona:hover{
    background-color: lavender;
    transition:0.5s;
}
.imagenChat{
    height: 56px;
    width: 56px;
}
.conectado{
    position:absolute;
    top: 40px;
    left : 40px;
    height: 14px;
    width: 14px;
}
.nombreChat{
    padding-left: 12px;
}

/********** CHAT DEL MEDIO ****************/

.chatAbierto{
    width:  55%;
}


.videollamada{
    height: 40px;
    width: 50px;
    position: absolute;
    right: 3px;
}
.contacto{
    display:flex;
    flex-direction: row;
    background-color: #E9CBEF;
    align-items: center;
    position: relative;
    padding-right:30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




.mensajesAbiertos{
    background-color: #F1E6F3;
    display:flex;
    flex-direction: column;
}
.mensajeContacto{
    background-color: #E9CBEF;
    border-radius: 21px;
    margin: 9px;
    width: 60%;
}
.mensajeMio{
    background-color: #D580E7;
    border-radius: 21px;
    margin: 9px;
    width: 60%;
    float:right;
}





.mandarMensaje{
    display:flex;
    flex-direction: row;
    background-color: #E9CBEF;
    align-items: center;
    position: relative;
    padding-right: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: space-around;
}
.escribirMensaje{
    position: relative;
    width: 80%;
}
.enviar{
    position: absolute;
    right: 10%;
}
.mandarMensajeIconos{
    height: 25px;
    width: 25px;
    margin: 9px;
}

/********** Side Derecho ****************/

.infoContacto{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.infoCentrada{
    margin: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;

}