/* Eliminamos márgenes y ponemos fondo de página negro */
html,body {
  margin:0;
  background:rgb(129, 105, 105);
}

@keyframes cowboyWalkLeft {
  0% { background-position: 0px}
  100% { background-position:-800px}
}

@keyframes enemyMovement {
  0% { background-position-x:  0px }
  100% { background-position-x:-192px }
}

@keyframes cowboyJumpAnimation {
  0% { background-position-x:  0px }
  100% { background-position-x:-200px }
}

@keyframes cowboyDead{
  0% { background-position-x:  0px }
  100% { background-position-x: -1012px }
}

@keyframes cowboyDown{
  0% { background-position-x:  0px }
  100% { background-position-x: -601px }
}

@keyframes coleccionableMovement{
  0% { background-position-x:  0px }
  100% { background-position-x: -100px }
}





/*        PERSONAJE     1    */


.cowboyStand{
  
  width: 100px;
  height:100px;
  background:url(images/cowboy/CowBoyWalkingBig.png) no-repeat;
  animation: cowboyWalkLeft  0.8s steps(8) infinite;
  left: 300px;
  margin:auto;
  position:absolute;
  bottom: 150px;
  z-index:5;
}

.cowboyStandDie{
  
  width: 100px;
  height:100px;
  background:url(images/cowboy/CowBoyStaticDie.png) no-repeat;
  left: 300px;
  margin:auto;
  position:absolute;
  bottom: 150px;
  z-index:5;
}

.cowboyDown{
  position:absolute;
  width: 100px;
  height:100px;
  left: 300px;
  margin:auto;
  bottom: 150px;
  z-index:5;
  background:url(images/cowboy/CowBoyDown.png) no-repeat;
  animation: cowboyDown  1.2s steps(6) infinite;
}

.cowboyDead{
  position: absolute;
  bottom: 150px;
  left: 300px;
  z-index: 5;
  margin: auto;
  width: 126px;
  height: 96px;
  background:url(images/cowboy/CowBoyDie.png) no-repeat;
  animation: cowboyDead 1s steps(8) ; 
}


.cowboyJump{
  position: absolute;
  bottom: 150px;
  left: 300px;
  z-index: 5;
  margin: auto;
  width: 100px;
  height: 100px;
  background:url(images/cowboy/CowBoyJump.png) no-repeat;
  animation: cowboyJump 1s linear, cowboyJumpAnimation 2s steps(2);
}

@keyframes cowboyJump {
  0% {bottom: 150px; }
  45%, 55%{ bottom: 200px; }
}


/*        PERSONAJE     2    */


.cowboyStandBrown{
  
  width: 100px;
  height:100px;
  background:url(images/cowboy/CowBoyWalkingBigBrown.png) no-repeat;
  animation: cowboyWalkLeft  0.8s steps(8) infinite;
  left: 300px;
  margin:auto;
  position:absolute;
  bottom: 150px;
  z-index:5;
}



.cowboyStandDieBrown{
  
  width: 100px;
  height:100px;
  background:url(images/cowboy/CowBoyStaticDieBrown.png) no-repeat;
  left: 300px;
  margin:auto;
  position:absolute;
  bottom: 150px;
  z-index:5;
}

.cowboyDownBrown{
  position:absolute;
  width: 100px;
  height:100px;
 
  left: 300px;
  margin:auto;
  
  bottom: 150px;
  z-index:5;
  background:url(images/cowboy/CowBoyDown.png) no-repeat;
  animation: cowboyDown  1.2s steps(6) infinite;
}

.cowboyDeadBrown{
  position: absolute;
  bottom: 150px;
  left: 300px;
  z-index: 5;
  margin: auto;
  width: 126px;
  height: 96px;
  background:url(images/cowboy/CowBoyDieBrown.png) no-repeat;
  animation: cowboyDead 1s steps(8) ; 
}


.cowboyJumpBrown{
  position: absolute;
  bottom: 150px;
  left: 300px;
  z-index: 5;
  margin: auto;
  width: 100px;
  height: 100px;
  background:url(images/cowboy/CowBoyJumpBrown.png) no-repeat;
  animation: cowboyJump 1s linear, cowboyJumpAnimation 2s steps(2);
}



/*        PROGRESS         */

label{
  border-radius: 100px;
  position: absolute;
  padding: 0 5px;
  bottom: 620px;
  left: 50px;
  font-size: 26px;
  z-index: 15;
  font-family: Arvo;
  color: rgb(61, 75, 35);
}

.progress {
  background: rgba(255, 255, 255, 0.275);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: absolute;
  padding: 0 5px;
  display: flex;
  height: 20px;
  bottom: 600px;
  width: 150px;
  left: 30px;
  z-index: 15;
}

.progress-value {
  box-shadow: 0 10px 40px -10px rgb(19, 82, 53);
  border-radius: 100px;
  background: rgb(19, 82, 53);
  height: 20px;
  width: 100%;
  z-index: 15;
}
.lostLife1 {
  animation: lostLife1 3s normal forwards;
  box-shadow: 0 10px 40px -10px rgb(19, 82, 53);
  border-radius: 100px;
  background: rgb(19, 82, 53);
  height: 20px;
  width: 100%;
  z-index: 15;
}
.lostLife2 {
  animation: lostLife2 3s normal forwards; 
  box-shadow: 0 10px 40px -10px rgb(19, 82, 53);
  border-radius: 100px;
  background: rgb(19, 82, 53);
  height: 20px;
  width: 66%;
  z-index: 15;
}
.lostLife3 {
  animation: lostLife3 3s normal forwards; 
  box-shadow: 0 10px 40px -10px rgb(19, 82, 53);
  border-radius: 100px;
  background: rgb(19, 82, 53);
  height: 20px;
  width: 33%;
  z-index: 15;
}

@keyframes lostLife1 {
  0% { width: 100%; 
    box-shadow: 0 10px 40px -10px rgb(175, 24, 24);
    background: rgb(175, 24, 24);}
  100% { width: 66%; }
}
@keyframes lostLife2 {
  0% { width: 66%; 
    box-shadow: 0 10px 40px -10px rgb(175, 24, 24);
    background: rgb(175, 24, 24);}
  100% { width: 33%; }
}
@keyframes lostLife3 {
  0% { width: 33%; 
    box-shadow: 0 10px 40px -10px rgb(175, 24, 24);
    background: rgb(175, 24, 24);}
  100% { width: 0%; }
}



/*        FONDO         */



.mensajeOculto{
  display:none;
  visibility: hidden;
}

.mensajeVisible{

  position:absolute;
  display:flex;
  top:300px;
  left:400px;
  width: 700px;
  height: 700px;
  align-items: center;
  text-align: center;
  flex-direction: column;
 z-index: 40;
}


*{ box-sizing: border-box; }
html, body, #container { width: 100%; height: 100%; }
body { margin: 0; }
#container {
  background-color: rgba(0, 0, 0, 0.9);
}

.stars {
  background: url(images/cowboy/backgroundFondo.png) repeat-x 0 bottom;
  animation: loop 20s linear infinite;
  z-index: 1;
}

.mountains {
  background: url(images/cowboy/backgroundMedio.png) repeat-x 0 bottom;
  animation: loop 9s linear infinite;
  z-index: 4;
}
.ground {
  background: url(images/cowboy/backgroundSuelo.png) repeat-x 0 bottom;
  animation: loop 9s linear infinite;
  z-index: 3;
}

.stars, .mountains, .ground{
  width: 200%; height: 100%;
  background-size:30%;
  bottom: 14%;
  position: fixed;
}

@keyframes loop {
  from { transform: translateX(0); }
  to { transform: translateX(-30%); }
}


.paused{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused; 
  animation-play-state:paused;
}



/*        NUBES          */

#cloud1{
  position: absolute;
  top: 500px;
  right: 0px;
  z-index: 15;
  animation: movement 15s infinite;
}
#cloud2{
  position: absolute;
  top: 300px;
  right: 0px;
  z-index: 16;
  animation: movement 22s infinite ;
}

#sun{
  position: absolute;
  top: 15%;
  right: 10px;
  z-index: 12;
}

/*        ENEMYS          */

.enemy{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  animation: movement 15s infinite;
}

.enemyWlaking{
  width:48px;
  height:48px;
  background: url(images/cowboy/Snake_walk.png) repeat-x 0 bottom;
  animation: enemyMovement  0.8s steps(4) infinite;
  right: 0px;
  margin:auto;
  position:absolute;
  bottom: 150px;
  z-index: 5;
}

.enemy2{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  animation: movement 20s infinite;
}

.enemyWlaking2{
  width:48px;
  height:48px;
  background: url(images/cowboy/Scorpio_walk.png) repeat-x 0 bottom;
  animation: enemyMovement  0.8s steps(4) infinite;
  right: 0px;
  margin:auto;
  position:absolute;
  bottom: 150px;
  z-index: 5;
}

.enemyFlying{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  animation: movement 10s infinite;
}

.enemyWlaking3{
  width:48px;
  height:48px;
  background: url(images/cowboy/Vulture_walk.png) repeat-x 0 bottom;
  animation: enemyMovement  0.8s steps(4) infinite;
  right: 0px;
  margin:auto;
  position:absolute;
  bottom: 220px;
  z-index: 5;
}




/*        COLECIONABLE         */


#coleccionable{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 5;
  animation: movement 15s infinite;
}

#bebida{
  width:50px;
  height:50px;
  background: url(images/cowboy/VinitoColeccionable.png) repeat-x 0 bottom;
  animation: coleccionableMovement  0.3s steps(2) infinite;
  right: 100px;
  margin:auto;
  position:absolute;
  bottom: 240px;
  z-index: 5;
}




@keyframes movement {
  0% { right: 0%;}
  100% { right: 100%; }
}






/* .robocopLeft{
  
  width:60px;
  height:84px;
  background:url(images/RoboWalkLeft.png) no-repeat;
  animation: roboWalkLeft 1.2s steps(10) infinite;
  margin:auto;
  position:absolute;
  bottom:5px;
  z-index:5;
  /* Ojo, muy costoso en rendimiento */
  /* filter:drop-shadow(5px 5px 5px #000); 
}
.robocopRight{
   
  width:48px;
  height:48px;
  background:url(images/cowboy/CowBoyWalking.png) no-repeat;
  animation: roboWalkLeft  0.9s steps(8) infinite;
  left:500px;
  animation-direction: reverse;
  margin:auto;
  position:absolute;
  bottom:5px;
  z-index:5;
  /* Ojo, muy costoso en rendimiento */
  /* filter:drop-shadow(5px 5px 5px #000); 
}
.robocopShooter {
  
  width:83px;
  height:92px;
  background:url(images/robocopShooter.png) no-repeat;
  animation:shoot 0.2s steps(2) infinite;
  margin:auto;
  position:absolute;
  top:25px;
  /* Ojo, muy costoso en rendimiento */
  /* filter:drop-shadow(5px 5px 5px #000); 
} */